/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #1e2b35;
}

header .container {
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #49e795;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.goals {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

.goals-details {
  z-index: 999;
  background: #086c56;
  width: 75%;
  height: 150px;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.goals-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

.goals-details .phase {
  display: flex;
  align-items: center;
  justify-content: center;
}
.goals-details h5 {
  cursor: pointer;
}

.goals-details p {
  margin: 0;
  font-size: 0.9em;
  color: #00f435;
}
.goals-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.add-goal {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  margin: 10px;
}

.add-goal p {
  color: #49e795;
}